.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: linear-gradient(90deg, #171515, #20363a, #131212);
  color: cyan;
}

.header-link {
  color: cyan;
  text-decoration: none;
}

.link-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}