.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-modal {
  background: #0f172a;
  color: #f8fafc;
  border-radius: 16px;
  padding: 1.5rem;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid rgb(74, 72, 72);
  margin: 8px;
  padding: 8px;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-btn {
  height: fit-content;
  align-self: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
  padding: 3px;
}

.finalize-btn {
  height: fit-content;
  background: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;
  padding: 6px;
}
