.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-modal {
  background: #0f172a;
  color: #f8fafc;
  border-radius: 16px;
  padding: 1.5rem;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid rgb(74, 72, 72);
  margin: 8px;
  padding: 8px;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
